{% extends 'layout.html' %}

{% block content %}
  <h1>Profile</h1>
  <img width="100px" src="{{ profile.avatar_url }}"/>
  <table>
    <tr>
      <td>Name:</td>
      <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td>{{ profile.date_of_birth }}</td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>{{ profile.gender }}</td>
    </tr>
  </table>

  {% if user == profile.user %}
    <a href="{% url 'edit_profile' profile.user.username %}">Edit</a>
  {% endif %}


  <h1>Your activity</h1>


  <div class="posts">
  {% for post in posts %}
    <div class="media">
      <a class="media-left" href="#">
        <img width="100px" src="{{ post.author.profile.avatar_url }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{% url 'post_details' post.pk %}">
          {{ post.text}}
          </a>
        </h4>
        <a href="{% url 'profile' post.author.username %}">
            <b><small>{{ post.author.username }}</small></b></a>
        on <b><small>{{ post.date_added }}</small></b>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
